
* {
    box-sizing: border-box;
}

head {
    background: red;
}

body {
    background: white;
}

.column {
    float: left;
    padding: 10px;
    height: 300px;
}

.left, .right {
    width: 25%;
  }
  
  .middle {
    width: 50%;

  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }