
* {
    background-color: rgb(144, 144, 242);
}


/*--------setup layout-------*/
body {
    /*create grid properties*/
    display: grid;
    grid-template-columns: 150px 150px 200px 65px;
    grid-template-rows: 100px 175px 225px 65px;
    grid-gap: 10px;


    /*adjust container*/
    justify-content: center;
    height: 100vh;

}

/* setup grid boxes*/
#heading {
    grid-column: 1 / -1;
}

#links {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#main {
    grid-column: 2 / 5;
    grid-row: 2 / 4;
    overflow: scroll;
}

#media {
    grid-column: 4 / 5;
}

#js-event {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
}

/*-----Align elements within grid-----*/

/*align icons in box*/
div img {
    width: 25px;
    height: 25px;
}

#top-left {
    position: relative;
    top: 5px;
    left: 5px;
}
#top-right {
    position: relative;
    top: 5px;
    left: 5px;
}
#bottom-left {
    position: relative;
    top: 5px;
    left: 5px;
}
#bottom-right {
    position: relative;
    top: 5px;
    left: 5px;
}

/*-------adjust different section's properties-------*/

#links div {
    border-style: none;
    padding: 5px;
}

p {
    padding: 5px;
}




/*----text styling---*/
p {
    background-color: transparent;
}

a {
    text-align: center;
    align-content: center;
    align-items: center;
    background-color: transparent;
}


h1 {
    text-align: center;
    position: relative;
    top: 10px;
    background-color: transparent;
}
h2 {
    text-align: center;
    background-color: transparent;
}

div#heading {
    text-align: center;
}

#links a {
    color: blue;
    font-size: larger;
    position: relative;
    left: 20px;
    top: 5px;
}

/*--------testing stuff----can be deleted----------*/


/*see div boxes*/
div {
    border-color: black;

    border-width: 1px;
    border-style: solid;

    background-color: transparent;
}



/*slightly change all row colors*/

#heading {
    background-color: #aaa;
}

#links {
    background-color: #bbb;
}

#main {
    background-color: #ccc;
}

#media {
    background-color: #ddd;

}

#js-event {
    background-color: #eee;
}

#section-6 {
    background-color: crimson;
}